[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
c2cwsgiutils = {extras = ["standard"], version = "==5.0.0"}
pytest = "==6.2.5"

[requires]
python_version = "3.8"
