[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.9.3"
numpy = "==1.21.5"
pyyaml = "==6.0"
pythonqwt = "==0.9.2"

[dev-packages]

[requires]
python_version = "3.8"
