[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
geolinks = "==0.2.0 "
six = "==1.16.0"
nose2 = "==0.10.0"
mock = "==4.0.3"

[requires]
python_version = "3.8"
