# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.6.12/c2cciutils/schema.json

publish:
  pypi:
    packages: []
  docker:
    images:
      - name: camptocamp/qgis-server
        tags:
          - '{version}'
          - '{version}-desktop'
