checks:
  required_workflows:
    codeql.yaml: False
    audit.yaml: False
  versions: False

publish:
  pypi:
    packages: []
  docker:
    images:
      - name: camptocamp/qgis-server
        tags:
          - '{version}'
          - '{version}-desktop'
