# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.6.19/c2cciutils/schema.json

version:
  branch_to_version_re:
    - from: ([0-9]+.[0-9]+-gdal[0-9]+.[0-9]+)
      to: \1
    - from: master
      to: master

publish:
  pypi:
    packages: []
  docker:
    images:
      - name: camptocamp/qgis-server
        tags:
          - '{version}'
          - '{version}-debug'
          - '{version}-desktop'
