---
name: Continuous integration

on:
  push:

jobs:
  main:
    runs-on: ubuntu-20.04
    name: Continuous integration
    timeout-minutes: 120
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      #      - run: git clone https://${{ secrets.GOPASS_CI_GITHUB_TOKEN }}:x-oauth-basic@github.com/camptocamp/docker-qgis-server.git
      #      - run: git clone https://c2c-bot-gis-ci:${{ secrets.GOPASS_CI_GITHUB_TOKEN }}:x-oauth-basic@github.com/camptocamp/docker-qgis-server.git
      #- run: "git config --global http.https://github.com/.extraheader 'AUTHORIZATION: basic ${{ secrets.GOPASS_CI_GITHUB_TOKEN }}'"
      #- run: git clone https://github.com/camptocamp/docker-qgis-server.git
      - run: gh auth login --with-token
        env:
          GITHUB_TOKEN: ${{ secrets.GOPASS_CI_GITHUB_TOKEN }}
      - run: gh repo clone camptocamp/docker-qgis-server
      - run: cd docker-qgis-server; git remote -v
      - run: cd docker-qgis-server; git config --list
      - run: cd docker-qgis-server; git push HEAD:yes

  log:
    runs-on: ubuntu-20.04
    name: Log
    timeout-minutes: 120
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - uses: actions/checkout@v2
      - run: git remote -v
      - run: git config --list
