---
name: Continuous integration

on:
  push:
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}
  DOCKER_BUILDKIT: '1'

jobs:
  main:
    runs-on: ubuntu-20.04
    name: Continuous integration
    timeout-minutes: 120
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      # Versions
      - run: docker --version
      - uses: actions/checkout@v2

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: github.repository == 'camptocamp/docker-qgis-server'
      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - name: Cache
        uses: actions/cache@v2
        with:
          key: docker-cache
          path: /tmp/docker/cache
      - name: Fill the cache
        run: |
          mkdir -p /tmp/docker/cache/.ccache
          mkdir cache
          cp -ar /tmp/docker/cache/.ccache cache
          touch cache/.ccache/a-file
          docker build --file=Dockerfile-fillcache .
          rm -rf cache

      - run: make build-server
      - run: make build-desktop
      - run: make build-cache

      - name: Extract cache
        run: |
          docker run --rm --detach --name=cache qgis-cache
          docker cp cache:/.ccache /tmp/docker/cache
          docker stop cache

      - run: make run
      - run: make acceptance
      - run: (cd acceptance_tests; docker-compose logs)
        if: failure()

      - name: Publish
        run: c2cciutils-publish
        if: github.repository == 'camptocamp/docker-qgis-server'
