---
name: Rebuild

on:
  schedule:
    - cron: '30 2 * * *'

env:
  DOCKER_BUILDKIT: '1'

jobs:
  main:
    runs-on: ubuntu-20.04
    name: Rebuild
    timeout-minutes: 180

    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
          - '3.16'
          - '3.20'
          - '3.22'
          - '3.24'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: github.repository == 'camptocamp/docker-qgis-server'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - name: Cache
        uses: actions/cache@v2
        with:
          key: docker-cache-${{ matrix.branch }}
          restore-keys: docker-cache
          path: /tmp/docker/cache
      - name: Fill the cache
        run: |
          mkdir -p /tmp/docker/cache/.ccache
          mkdir cache
          cp -ar /tmp/docker/cache/.ccache cache
          touch cache/.ccache/a-file
          docker build --file=Dockerfile-fillcache .
          rm -rf cache

      - run: make build-server
      - run: make build-desktop
      - run: make build-cache

      - name: Extract cache
        run: |
          docker run --rm --detach --name=cache qgis-cache
          docker cp cache:/.ccache /tmp/docker/cache
          docker stop cache

      - run: make run
      - run: (cd acceptance_tests && c2cciutils-docker-logs || docker-compose logs)
        if: always()
      - run: make acceptance
      - run: (cd acceptance_tests && c2cciutils-docker-logs || docker-compose logs)
        if: always()

      - name: Publish
        run: c2cciutils-publish --type=rebuild --branch=${{ matrix.branch }}
