---

name: Rebuild

on:
  schedule:
    - cron: "30 2 * * *"

jobs:
  main:
    runs-on: ubuntu-18.04
    name: Rebuild
    timeout-minutes: 120

    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
          - '3.4'
          - '3.10'
          - '3.12'

    env:
      MAIN_BRANCH: master
      MAJOR_VERSION: 2.5
      CI: true
      PATH: /bin:/usr/bin:/usr/local/bin:/home/runner/.local/bin
      SUMMON_PROVIDER: /usr/local/bin/gopass

    steps:
      # Versions
      - run: docker --version
      - uses: actions/checkout@v1
        with:
          ref: ${{ matrix.branch }}

      - run: make pull
      - run: make -j3 build
      - run: make -j3 acceptance-quick

      - uses: camptocamp/initialise-gopass-summon-action@v1
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
        if: github.repository == 'camptocamp/docker-qgis-server'
      - run: mkdir -p ~/.docker
      - run: |
          summon --yaml '
            TOKEN: !var gs/ci/dockerhub/token
          ' bash -c 'envsubst < ci/docker-config.json.tmpl > ~/.docker/config.json'
      - name: Publish to Docker hub
        run: ci/publish ${{ matrix.branch }}
        if: github.repository == 'camptocamp/docker-qgis-server'
